{* This is the welcome page, you can delete it *}

{block content}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header">Day four - first star</h1>
  Existing rooms sector sum: {$sectorSum}<br /><br />
</div>
